<h2>Wohnung anfragen</h2>
<%= simple_form_for anfrages_new_path do |f| %>
  <%= f.error_notification %>
  <%= f.association :wohnung %>
  <div class="d-flex">
    <%= f.input :von,
                 as: :date,
                 autofocus: true,
                 label: "Von:",
                 required: false,
                 html5: true,
                 class: "form-control" %>
    <%= f.input :bis,
                 as: :date,
                 autofocus: true,
                 label: "Bis:",
                 required: false,
                 html5: true,
                 class: "form-control" %>
    <%= f.input :anzahl, class:"small-input", label: "#Gäste", :input_html => {:style=> 'width: 60px'} %>
  </div>
  <br>
  <div class="d-flex">
    <%= f.input :vorname %>
    <%= f.input :nachname %>
    <%= f.input :strasse, label: "Straße", :input_html => {:style=> 'width: 200px'} %>
    <%= f.input :nummer, label: "Nummer", :input_html => {:style=> 'width: 60px'} %>
    <%= f.input :plz, label: "Postleitzahl", :input_html => {:style=> 'width: 100px'} %>
    <%= f.input :ort %>
  </div>
  <div class="d-flex">
    <%= f.input :telefon, label: "Telefonnummer" %>
    <%= f.input :email, label: "Email-Adresse" %>
  </div>
  <div class="d-flex">
    <%= f.input :nachricht %>
  </div>
  <%= f.submit "Anfrage schicken", class:"btn1" %>
<% end %>
