<div class="cards">
  <% @flats.each do |flat|%>
    <%= link_to flat_path(flat), style:"text-decoration:none;" do %>
      <div class="cards-round">
        <%= image_tag "#{flat.id}/AS_#{flat.id}_wohn.jpeg", width: 422, crop: :fill %>
        <%# <%= image_tag flat.photos.first.key, width: 422, crop: :fill %>
        <div class="index-card d-flex justify-content-between">
          <h4 class="px-2"><%= flat.name %></h4>
          <div class="px-2"><%= flat.square_meters %>㎡</div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
