<h3>Es gibt eine neue Anfrage zu <%= @request.flat.name %></h3>
<p><%= @request.first_name %> <%= @request.last_name %> will die Wohnung für den Zeitraum von <%= @request.from %>
bis <%= @request.to %> mit <%= @request.number_guests %> Personen mieten.</p>
<p>Die Kontakdaten lauten: Telefon: <%= @request.phone %> oder Email: <%= @request.email %></p>
<% if @request.message != nil %>
  <p>Der Anfrager hat folgende Nachricht hinterlassen: <%= @request.message %> </p>
<% end %>
