<h2>Es gibt eine neue Anfrage für <%= @anfrage.wohnung.name %></h2>
<p><%= @anfrage.vorname @anfrage.nachname %> hat Interesse die Wohnung vom <%= @anfrage.von %> bis <%= @anfrage.bis %>
 für <%= @anfrage.anzahl == 1 ? @anfrage.anzahl" Person" : @anfrage.anzahl" Personen" %> zu mieten.</p>
<p><%= @anfrage.vorname %> ist unter <%= @anfrage.telefon %> oder <%= @anfrage.email %> zu erreichen</p>
<% if @anfrage.nachricht != nil %>
  <p>Folgende Nachricht wurde bereits hinterlassen vom Anfrager: </p>
  <p><%= @anfrage.nachricht %></p>
<% end %>
<p>Adressangaben zur Person: </p>
<p><%= @anfrage.strasse @anfrage.nummer %></p>
<p><%= @anfrage.plz @anfrage.ort %></p>
